# Editors
#
# vim
*.swp
*.swo

# Ignore autotools outputs
/aclocal.m4
/autom4te.cache/
/config.status
/config.log
/configure
/config.h
/config.h.in
/config.h.in~
/s2hat/Makefile

# Ignore build products
/s2hat/*.o
/s2hat/*.mod
